@import url('https://fonts.googleapis.com/css?family=Slabo+27px|Ubuntu+Mono');

html {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  /* Coloring */
  color: #422A4F;
  background-color: #BCB4C1;
  
  /* Text/font styling */
  text-align: justify;
  font-family: "Slabo 27px", serif;
  
  /* Margins */
  padding-top: 1em;
}

h1, p, ul, ol {
  margin: 0;
}

h1 {
  font-size: 36px;
  text-align: left;
}

p {
  font-size: 17px;
  margin-bottom: 1ex;
}

a {
  color: #363A86;
  text-decoration: none;
}

ul {
  list-style-type: circle;
}

code {
  /* Background */
  background-color: #E0D7E6;
  border-radius: 2px;
  padding-left: 2px;
  padding-right: 2px;
  
  /* Font */
  font-family: "Ubuntu Mono", monospace;
}

.page {
  /* Coloring */
  background-color: #F3F4EF;

  /* Page size */
  box-sizing: border-box;
  max-width: 210mm;
  min-height: 297mm;
  margin: auto;
  
  /* Page padding */
  padding: 2em;
  margin-bottom: 1em;
  
  /* Page shadow */
  box-shadow: 8px 8px 4px rgba(66,42,79,0.25);
}

@media only screen and (max-width: 650px) {
  body {
    padding: 0;
  }
}
